<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    BLogs
    <%= blog.title %>
    <!-- <%= blog.author_id %> -->
    <%= blog.body %>
    <%= blog.date_pub %>
  </body>
</html>
